.content {
  width: 1200px;
  margin: 0 auto;
}
.main{
  margin-top: 100px;
  margin-bottom: 50px;
}
.header_wapper {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 9999;
}

.header-top {
  background: #00937f;
  width: 100%;
}

.header-cont {
  height: 30px;
  line-height: 30px;
}

.header-cont p {
  color: #fff;
  float: left;
}

.login {
  float: right;
  color: #fff;
}

.login span a {
  color: #fff;
  margin: 0 10px;
}

.login a {
  margin-left: 10px;
  color: #fff;
}

.main h2 {
  font-size: 20px;
  color: #999;
  line-height: 60px;
}

.table-top ul {
  border: 1px solid #ccc;
  overflow: hidden;
}

.table-top ul li {
  float: left;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}

.table-top ul li:nth-child(1) {
  padding: 0 200px;
}

.table-top ul li:nth-child(2) {
  padding: 0 80px;
}

.table-top ul li:nth-child(3) {
  padding: 0 80px;
}

.table-top ul li:nth-child(4) {
  padding: 0 80px;
}

.table-top ul li:nth-child(5) {
  padding: 0 80px;
}

.table-common ul {
  overflow: hidden;
  padding-top: 20px;
  position: relative;
  border: 1px solid #ccc;
  border-top: 0;
  height: 100px;
}

.table-common ul li {
  float: left;
}

.table-common ul li:nth-child(1) a {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  margin-left: 50px;
}

.table-common ul li:nth-child(1) a img {
  width: 100%;
  height: 100%;
}

.table-common ul li:nth-child(1) input {
  position: absolute;
  top: 50px;
  left: 10px;
}

.table-common ul li:nth-child(2) {
  line-height: 64px;
  margin-left: 16px;
  width: 390px;
}

.Numb {
  margin-left: 150px;
}

.Numb a {
  display: inline-block;
}

.Numb input {
  width: 30px;
  height:30px;
  text-align: center;
}

.total {
  width: 300px;
  text-align: center;
}

.oper a {
  margin-left: 10px;
}

.oper a:hover {
  color: #00937f;
}

.table-foot {
  line-height: 60px;
  height: 60px;
  position: relative;
  border: 1px solid #ccc;
  border-top: 0;
}

.table-foot input {
  margin-left: 12px;
  margin-right: 10px;
}

.table-foot span {
  font-size: 16px;
}

.sumTotal {
  position: absolute;
  top: 0;
  right: 45px;
}

.sumTotal p {
  font-size: 20px;
  color: red;
  float: left;
  margin-right: 20px;
}

.abtn {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  background: #00937f;
  margin-top: 6px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 1100px;
}

.abtn a {
  color: #fff;
}
